body {
    font-family: Arial, sans-serif;
    background-color: #2c2d2d;
    margin: 0;
    padding: 0;
}

.container {
    width: 420px;
    margin: 60px auto;
    padding: 25px;
    background-color: #f7fbdb;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

h1 {
    text-align: center;
    margin-bottom: 25px;
    color: #1f1f1f;
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
    color: #222;
}

input,
select,
textarea {
    width: 100%;
    padding: 9px;
    margin-top: 6px;
    border: 1px solid #aaa;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
}

input[type="radio"] {
    width: auto;
    margin-right: 5px;
}

button {
    width: 100%;
    margin-top: 25px;
    padding: 12px;
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}
marquee {
    color: #e90606;
    font-size: 18px;
    margin-bottom: 15px;
}


button:hover {
    background-color: #0600b3;
}
