body {
    font-family: Arial, sans-serif;
    background-color: #2c2d2d;
    margin: 0;
    padding: 0;
    text-align: center;
}

h2 {
    color: rgb(255, 255, 255);
    margin: 15px 0;
}

.controls {
    margin-bottom: 10px;
}

.controls label {
    color: rgb(255, 255, 255);
    margin: 0 5px;
}

button {
    padding: 6px 12px;
    margin-left: 8px;
    cursor: pointer;
}

#svgCanvas {
    width: 90vw;
    height: 80vh;
    background-color: rgb(255, 255, 255);   /* IMPORTANT */
    border: 2px solid rgb(179, 31, 31);
    display: block;
    margin: 10px auto;
    cursor: crosshair;
}
